agent-ssh-ubuntu(3).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: agent-ssh-ubuntu22
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.1@f3a8b649027d1bd13e67df96f3463a601c16628da4292705528d28d97d96b263
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: stvlynn/ssh:0.0.1@ca601a1d74be5366290d3ef10865076b16dde7efbd464d370fbac0e15fc541e6
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: loop
      id: 1769676036624-source-1769755006435-target
      selected: false
      source: '1769676036624'
      sourceHandle: source
      target: '1769755006435'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: loop-start
        targetType: llm
      id: 1769755006435start-source-17697561402790-target
      selected: false
      source: 1769755006435start
      sourceHandle: source
      target: '17697561402790'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: tool
        targetType: code
      id: 17697562014740-source-17697562102670-target
      selected: false
      source: '17697562014740'
      sourceHandle: source
      target: '17697562102670'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: assigner
      id: 1769763831229-false-1769763849678-target
      source: '1769763831229'
      sourceHandle: 'false'
      target: '1769763849678'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: assigner
        targetType: loop-end
      id: 1770007614835-source-1769765736526-target
      source: '1770007614835'
      sourceHandle: source
      target: '1769765736526'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: assigner
      id: 1769763831229-true-1770007614835-target
      source: '1769763831229'
      sourceHandle: 'true'
      target: '1770007614835'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: end
      id: 1769755006435-source-1770007655649-target
      source: '1769755006435'
      sourceHandle: source
      target: '1770007655649'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: llm
        targetType: code
      id: 17697562249120-source-1770088677679-target
      source: '17697562249120'
      sourceHandle: source
      target: '1770088677679'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: code
        targetType: if-else
      id: 1770088677679-source-1769763831229-target
      source: '1770088677679'
      sourceHandle: source
      target: '1769763831229'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: tool
      id: 1770091915341-false-17697562014740-target
      source: '1770091915341'
      sourceHandle: 'false'
      target: '17697562014740'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: assigner
      id: 1770091915341-true-1769763849678-target
      selected: false
      source: '1770091915341'
      sourceHandle: 'true'
      target: '1769763849678'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: code
        targetType: if-else
      id: 17697562102670-source-1770092307768-target
      source: '17697562102670'
      sourceHandle: source
      target: '1770092307768'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: llm
      id: 1770092307768-false-17697562249120-target
      source: '1770092307768'
      sourceHandle: 'false'
      target: '17697562249120'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: if-else
        targetType: assigner
      id: 1770092307768-true-1770114430314-target
      source: '1770092307768'
      sourceHandle: 'true'
      target: '1770114430314'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        sourceType: llm
        targetType: if-else
      id: 17697561402790-source-1770091915341-target
      source: '17697561402790'
      sourceHandle: source
      target: '1770091915341'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: IP
          max_length: 48
          options:
          - ''
          placeholder: ''
          required: true
          type: text-input
          variable: IP
        - default: ''
          hint: ''
          label: Port
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: Port
        - default: ''
          hint: ''
          label: UserName
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: UserName
        - default: ''
          hint: ''
          label: Password
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: Password
        - default: ''
          hint: ''
          label: user_question
          max_length: 480
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: user_question
      height: 213
      id: '1769676036624'
      position:
        x: 238.11590720855747
        y: -16.40979243395742
      positionAbsolute:
        x: 238.11590720855747
        y: -16.40979243395742
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions: []
        error_handle_mode: terminated
        height: 398
        logical_operator: and
        loop_count: 10
        loop_variables:
        - id: cea649f6-1566-49b0-9cb9-48c246f5751a
          label: history
          value:
          - '1769676036624'
          - IP
          value_type: variable
          var_type: string
        - id: 54984346-3f3d-4a0d-b0f1-ec487fe90cda
          label: iteration_count
          value: '1'
          value_type: constant
          var_type: number
        - id: 82d2106e-dcd1-4126-8f38-53446fc531a2
          label: conclusion
          value:
          - '1769676036624'
          - IP
          value_type: variable
          var_type: string
        selected: false
        start_node_id: 1769755006435start
        title: Loop
        type: loop
        width: 3619.074770127545
      height: 398
      id: '1769755006435'
      position:
        x: 501.2275931686877
        y: 4.590207566042579
      positionAbsolute:
        x: 501.2275931686877
        y: 4.590207566042579
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 3619
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1769755006435start
      parentId: '1769755006435'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 525.2275931686877
        y: 72.59020756604258
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1769676036624'
          - user_question
        isInLoop: true
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-r1:latest
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: fb694601-620d-4930-a850-a02029202f1d
          role: system
          text: '你是Linux命令生成器。


            # Input

            用户问题：{{#context#}}。


            # Output

            根据用户问题，生成可直接在 Linux Shell 中执行的命令。

            输出JSON：{"command": "这里填写你的命令xxx"}


            已经使用的历史排查输出（没有解决用户的问题）：

            {{#1769755006435.history#}}


            注意：

            1. 只输出 Linux可执行的命令

            2. 二次校验你最终输出的是否是JSON格式的Linux命令。如果不是，你重新思考、重新生成JSON


            '
        reasoning_format: separated
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              command:
                type: string
            required:
            - command
            type: object
        structured_output_enabled: true
        title: LLM-Command
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17697561402790'
      parentId: '1769755006435'
      position:
        x: 103.18703494137662
        y: 65
      positionAbsolute:
        x: 604.4146281100643
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInLoop: true
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The hostname or IP address of the remote server
            ja_JP: The hostname or IP address of the remote server
            pt_BR: O nome do host ou endereço IP do servidor remoto
            zh_Hans: 远程服务器的主机名或IP地址
          label:
            en_US: Host
            ja_JP: Host
            pt_BR: Host
            zh_Hans: 主机
          llm_description: The hostname or IP address of the remote server to connect
            to via SSH.
          max: null
          min: null
          name: host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The SSH port of the remote server (default 22)
            ja_JP: The SSH port of the remote server (default 22)
            pt_BR: A porta SSH do servidor remoto (padrão 22)
            zh_Hans: 远程服务器的SSH端口（默认22）
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Porta
            zh_Hans: 端口
          llm_description: The SSH port of the remote server. Default is 22.
          max: null
          min: null
          name: port
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The username to authenticate with
            ja_JP: The username to authenticate with
            pt_BR: O nome de usuário para autenticação
            zh_Hans: 用于认证的用户名
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Nome de usuário
            zh_Hans: 用户名
          llm_description: The username to authenticate with on the remote server.
          max: null
          min: null
          name: username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: password
          form: form
          human_description:
            en_US: Choose between password or private key authentication
            ja_JP: Choose between password or private key authentication
            pt_BR: Escolha entre autenticação por senha ou chave privada
            zh_Hans: 选择密码或私钥认证
          label:
            en_US: Authentication Type
            ja_JP: Authentication Type
            pt_BR: Tipo de Autenticação
            zh_Hans: 认证类型
          llm_description: The authentication method to use (password or private key).
          max: null
          min: null
          name: auth_type
          options:
          - icon: ''
            label:
              en_US: Password
              ja_JP: Password
              pt_BR: Senha
              zh_Hans: 密码
            value: password
          - icon: ''
            label:
              en_US: Private Key
              ja_JP: Private Key
              pt_BR: Chave Privada
              zh_Hans: 私钥
            value: key
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The password for password authentication (required if auth_type
              is password)
            ja_JP: The password for password authentication (required if auth_type
              is password)
            pt_BR: A senha para autenticação por senha (obrigatório se o tipo de autenticação
              for senha)
            zh_Hans: 用于密码认证的密码（如果认证类型为密码则必填）
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Senha
            zh_Hans: 密码
          llm_description: The password for password authentication. Required if auth_type
            is password.
          max: null
          min: null
          name: password
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The private key for key authentication (required if auth_type is
              key)
            ja_JP: The private key for key authentication (required if auth_type is
              key)
            pt_BR: A chave privada para autenticação por chave (obrigatório se o tipo
              de autenticação for chave)
            zh_Hans: 用于密钥认证的私钥（如果认证类型为私钥则必填）
          label:
            en_US: Private Key
            ja_JP: Private Key
            pt_BR: Chave Privada
            zh_Hans: 私钥
          llm_description: The private key content for key-based authentication. Required
            if auth_type is key.
          max: null
          min: null
          name: private_key
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The passphrase for the private key (if the key is encrypted)
            ja_JP: The passphrase for the private key (if the key is encrypted)
            pt_BR: A frase-senha para a chave privada (se a chave estiver criptografada)
            zh_Hans: 私钥的密码（如果私钥已加密）
          label:
            en_US: Passphrase
            ja_JP: Passphrase
            pt_BR: Frase-senha
            zh_Hans: 密钥口令
          llm_description: The passphrase for the private key if it is encrypted.
            Optional.
          max: null
          min: null
          name: passphrase
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The command to execute on the remote server
            ja_JP: The command to execute on the remote server
            pt_BR: O comando a ser executado no servidor remoto
            zh_Hans: 在远程服务器上执行的命令
          label:
            en_US: Command
            ja_JP: Command
            pt_BR: Comando
            zh_Hans: 命令
          llm_description: The command to execute on the remote server.
          max: null
          min: null
          name: command
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          auth_type: ''
          command: ''
          host: ''
          passphrase: ''
          password: ''
          port: ''
          private_key: ''
          username: ''
        plugin_id: stvlynn/ssh
        plugin_unique_identifier: stvlynn/ssh:0.0.1@ca601a1d74be5366290d3ef10865076b16dde7efbd464d370fbac0e15fc541e6
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=d9d018f4-3e01-49d4-a878-79d713756859&filename=e39f2698abb8fae0f160980a8bf1eb77985fcbb626447ca6102c2d291f07c14d.svg
        provider_id: stvlynn/ssh/ssh
        provider_name: stvlynn/ssh/ssh
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: SSH Command Execution (1)
        tool_configurations:
          auth_type:
            type: constant
            value: password
        tool_description: Execute commands on remote servers via SSH
        tool_label: SSH Command Execution
        tool_name: ssh
        tool_node_version: '2'
        tool_parameters:
          command:
            type: mixed
            value: '{{#17697561402790.structured_output.command#}}'
          host:
            type: mixed
            value: '{{#1769676036624.IP#}}'
          passphrase:
            type: mixed
            value: null
          password:
            type: mixed
            value: '{{#1769676036624.Password#}}'
          port:
            type: variable
            value:
            - '1769676036624'
            - Port
          private_key:
            type: mixed
            value: null
          username:
            type: mixed
            value: '{{#1769676036624.UserName#}}'
        type: tool
      height: 88
      id: '17697562014740'
      parentId: '1769755006435'
      position:
        x: 1149.2832449460207
        y: 65
      positionAbsolute:
        x: 1650.5108381147083
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(ssh_json: list) -> dict:\n    # 插件返回的是一个列表，提取第一个元素的 stdout\n\
          \    try:\n        if ssh_json[0].get(\"stdout\", \"\"):\n            raw_stdout\
          \ = ssh_json[0].get(\"stdout\", \"\")\n            return {\n          \
          \      \"result\": raw_stdout if raw_stdout else \"未获取到标准输出\"\n        \
          \    }\n        else:\n            raw_stdout = ssh_json[0].get(\"stderr\"\
          , \"\")\n            return {\n                \"result\": raw_stdout if\
          \ raw_stdout else \"未获取到标准输出\"\n            }\n    except Exception as e:\n\
          \        return {\"result\": f\"提取失败: {str(e)}\"}"
        code_language: python3
        isInLoop: true
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Get_SSH_result
        type: code
        variables:
        - value_selector:
          - '17697562014740'
          - json
          value_type: array[object]
          variable: ssh_json
      height: 52
      id: '17697562102670'
      parentId: '1769755006435'
      position:
        x: 1520.9626703811823
        y: 65
      positionAbsolute:
        x: 2022.19026354987
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17697562102670'
          - result
        isInLoop: true
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-r1:latest
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: c0b982b4-8816-4486-8b33-7335ec02ecad
          role: system
          text: "# Input\n用户的问题: {{#1769676036624.user_question#}}\n历史数据：{{#1769755006435.history#}}\n\
            当前SSH输出：{{#context#}} \n\n# Output\n请根据数据给出专业的排查结论。输出格式要求如下：\n输出JSON：{\"\
            conclusion\": \"排查结论xxx\", \"resolved\": true/false}\n\n注意：\n1. 必须输出JSON的结果，key包括：conclusion、resolved。\n\
            2. 请再次确认你的排查结论conclusion。若你已经解决用户的问题，最终输出的JSON中\"resolved\"必须是“true”。"
        reasoning_format: separated
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              conclusion:
                type: string
              resolved:
                type: boolean
            required:
            - conclusion
            - resolved
            type: object
        structured_output_enabled: true
        title: LLM_SSHresult
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17697562249120'
      parentId: '1769755006435'
      position:
        x: 2165.878690404117
        y: 65
      positionAbsolute:
        x: 2667.106283572805
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: b5a73243-eb40-4f19-b848-3a5bb34a20d6
            value: 'true'
            varType: string
            variable_selector:
            - '17697562249120'
            - structured_output
            - resolved
          - comparison_operator: empty
            id: 7b8bfa35-9dbd-4380-b629-69808efa255f
            value: 'false'
            varType: object
            variable_selector:
            - '17697562249120'
            - structured_output
            - resolved
          id: 'true'
          logical_operator: or
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 150
      id: '1769763831229'
      parentId: '1769755006435'
      position:
        x: 2766.470813595922
        y: 65
      positionAbsolute:
        x: 3267.69840676461
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1770088677679'
          - result
          variable_selector:
          - '1769755006435'
          - history
          write_mode: over-write
        - input_type: constant
          operation: +=
          value: 1
          variable_selector:
          - '1769755006435'
          - iteration_count
          write_mode: over-write
        loop_id: '1769755006435'
        selected: false
        title: Variable Assigner(When False)
        type: assigner
        version: '2'
      height: 110
      id: '1769763849678'
      parentId: '1769755006435'
      position:
        x: 3347.47397106888
        y: 217.63880148191325
      positionAbsolute:
        x: 3848.7015642375677
        y: 222.22900904795583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        selected: false
        title: Exit Loop
        type: loop-end
      height: 54
      id: '1769765736526'
      parentId: '1769755006435'
      position:
        x: 3359.074770127545
        y: 65
      positionAbsolute:
        x: 3860.3023632962327
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-simple
      width: 244
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17697562249120'
          - structured_output
          - conclusion
          variable_selector:
          - '1769755006435'
          - conclusion
          write_mode: over-write
        loop_id: '1769755006435'
        selected: false
        title: Variable Assigner 2
        type: assigner
        version: '2'
      height: 84
      id: '1770007614835'
      parentId: '1769755006435'
      position:
        x: 3059.074770127545
        y: 65
      positionAbsolute:
        x: 3560.3023632962327
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        outputs:
        - value_selector:
          - '1769755006435'
          - conclusion
          value_type: string
          variable: conclusion
        selected: false
        title: Output
        type: end
      height: 88
      id: '1770007655649'
      position:
        x: 4227.599225207185
        y: 4.590207566042579
      positionAbsolute:
        x: 4227.599225207185
        y: 4.590207566042579
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(history: str,\n         command: str,\n         ssh_result:\
          \ str,\n         conclusion: str,\n         iteration_count: int) -> dict:\n\
          \n    block = f\"\"\"\n====================\n第 {iteration_count} 轮\n====================\n\
          【LLM 判断】\n{conclusion}\n\n【执行命令】\n{command}\n\n【SSH 输出】\n{ssh_result}\n\"\
          \"\"\n\n    if history:\n        new_history = history + \"\\n\" + block\n\
          \    else:\n        new_history = block\n\n    return {\n        \"result\"\
          : new_history,\n        \"history\": new_history,\n        \"iteration_count\"\
          : iteration_count + 1\n    }\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        outputs:
          history:
            children: null
            type: string
          iteration_count:
            children: null
            type: number
          result:
            children: null
            type: string
        selected: false
        title: conclusion_history
        type: code
        variables:
        - value_selector:
          - '1769755006435'
          - history
          value_type: string
          variable: history
        - value_selector:
          - '17697561402790'
          - structured_output
          - command
          value_type: object
          variable: command
        - value_selector:
          - '17697562102670'
          - result
          value_type: string
          variable: ssh_result
        - value_selector:
          - '17697562249120'
          - structured_output
          - conclusion
          value_type: object
          variable: conclusion
        - value_selector:
          - '1769755006435'
          - iteration_count
          value_type: number
          variable: iteration_count
      height: 52
      id: '1770088677679'
      parentId: '1769755006435'
      position:
        x: 2466.470813595922
        y: 65
      positionAbsolute:
        x: 2967.69840676461
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 8ed421ab-40c3-49ca-9331-51a4c28a311a
            value: ''
            varType: string
            variable_selector:
            - '17697561402790'
            - structured_output
            - command
          id: 'true'
          logical_operator: and
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 124
      id: '1770091915341'
      parentId: '1769755006435'
      position:
        x: 638.4301273010731
        y: 65
      positionAbsolute:
        x: 1139.6577204697608
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 90bba864-d7b5-4c09-a349-15184f0ea2a5
            value: 未获取到标准输出
            varType: string
            variable_selector:
            - '17697562102670'
            - result
          - comparison_operator: contains
            id: 484e37a7-b4dd-447f-afc1-5adbd5f73499
            value: command not found
            varType: string
            variable_selector:
            - '17697562102670'
            - result
          id: 'true'
          logical_operator: or
        isInIteration: false
        isInLoop: true
        loop_id: '1769755006435'
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 150
      id: '1770092307768'
      parentId: '1769755006435'
      position:
        x: 1865.8786904041172
        y: 65
      positionAbsolute:
        x: 2367.106283572805
        y: 69.59020756604258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: constant
          operation: +=
          value: 1
          variable_selector:
          - '1769755006435'
          - iteration_count
          write_mode: over-write
        loop_id: '1769755006435'
        selected: false
        title: Variable Assigner 3
        type: assigner
        version: '2'
      height: 84
      id: '1770114430314'
      parentId: '1769755006435'
      position:
        x: 2776.640026771012
        y: 268
      positionAbsolute:
        x: 3277.8676199396996
        y: 272.5902075660426
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: -96.56595547967686
      y: 268.8944435868558
      zoom: 0.5787037037037038
  rag_pipeline_variables: []
